.App-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
}

.App-column {
  display: flex;
  flex-direction: column;
}

.responsive-lg .App-column.left {
  width: 250px;
  flex: none;
}

.responsive-sm .App-column.left {
  flex: 1;
  height: 100vh;
}

.App-column.right {
  flex: 1;
  max-height: 100vh;
}

.App-column.right .top {
  flex-shrink: 0;
}

.App-column.right .bottom {
  flex-grow: 1;
  overflow-y: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
